
$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "header";
@import "planes";
// @import "header";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.heading-font {
    
    font-family: "DM Serif Display", serif;
    font-size: 480%;
    font-weight: lighter;
}

// .m-width {
//     padding: 1rem 3rem;
//     // margin: 0 auto;
// }

.p-container {
    padding: 0rem 4rem;
    
}

.wihte {
    background: white;
}

body {
    font-family: "Karla", sans-serif;

}




